body,
a {
    font-family: $mainFont;
    font-size: 2.4rem;
    line-height: 1.6;
    color: $fontColour;
}

h1, 
h2 {
    line-height: 1.2;
    text-align: center;
    margin: 0;
}
h1 {
    font-family: $secondaryFont;
    font-size: 5.5rem;
    font-weight: bold;
    margin: 45px 0 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

header{
    padding-bottom: 110px;
    // instructions hidden by default
    h2,
    a {
        font-weight: 400;
        color: $accent;
        font-size: 2.6rem;
        padding: 20px;
        font-weight: 400;
    }

    p {
        margin: 0 10%;
    }
}

.instructions {
    font-family: $secondaryFont;
    color: $accent;
}

a.instructions:hover,
a.instructions:focus {
    color: darken($accent, 10);
}

//get started button

a.start {
    padding-top: 10px;
}

a.start:hover,
a.start:focus {
    color: darken($accent, 10);
}

a.start::after {
content: "";
position: absolute;
bottom: -70px;
left: 33%;
width: 0;
border-left: 40px solid transparent;
border-right: 40px solid transparent;
border-top: 80px solid $accent;
}
