$fontColour: #0f0f0f;
$background: #eeeeee;
$accent: #9c6b00;
$mainFont: 'Caveat', cursive;
$secondaryFont: 'Amatic SC', cursive;

@mixin smallTablet{
   @media (min-width: 500px){
       @content;
   }
}

@mixin largeScreen{
   @media (min-width: 1600px){
       @content;
   }
}

@mixin heightLimited {
    @media (max-height: 799px){
        @content;
    }
}